{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<ul>
    {{ range .Sections }}
        <li class="section">
            <h2 class="sectionsTitle">
                {{.Title}}
            </h2>
            <ul class="sectionsLane">
                {{ range .Pages.ByDate}}
                    <li class="card">
                        <a href="{{ .Permalink }}">
                            <article class="cardArticle">
                                
                                    {{.Content}}
                                
                            </article>
                        </a>
                    </li>
                {{end}}
            </ul>
        </li>
    {{end}}
    
</ul>
{{ end }}
